html, body{
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font: 1rem "Raleway", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}


.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 1.6rem;
    color: #000;
    font-size: 1.2rem;
    display: block;
}

.square {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    float: left;
    font-size: 2.5rem;
    height: 6rem;
    width: 6rem;
    padding: 0;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    transition: all .6s;
}

.square:focus {
    outline: none;
}
.square:hover{
    background: rgba(128,255,114,.5);
}
.square:focus {
    background: #80FF72;
}

.game {
    display: flex;
    flex-direction: row;
}
@media (max-width: 768px){
    .game{
        flex-direction: column;
    }
    ol{
        margin: 0;
        padding: 0;
    }
    .square{
        height: 4rem;
        width: 4rem;
        font-size: 1.5rem;
    }
    .status{
        font-size: 1rem;
    }
    .game-info{
        margin-top: 1.6rem;
    }
    .game-info p{
        margin-bottom: .8rem;
        text-align: left;
        font-size: 1rem;
    }
}

.game-info {
    margin-left: 1rem;
    color: #000;
    font-size: 1.2rem;
    display: block;
}
.game-info p{
    text-align: center;
    margin-top: 0;
}
.game-info button{
    background: transparent;
    border: 2px solid #fff;
    color: #000;
    padding: .3rem .5rem;
    transition: all .6s;
    width: 100%;
}
.game-info button:hover{
    color: #000;
    background: #7ee8fa;
    border-color: #fff ;
}
button::-moz-focus-inner {
    border: 0;
}
button:focus {
    outline: none;
}
ol li{
    margin: .4rem 0;
}
